# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# ESP-IDF build
build/
managed_components/
dependencies.lock
sdkconfig
sdkconfig.old

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
sdkconfig.openlaserdac.bak
